.icon {
  max-width: 100px;
  max-height: 100px;
  margin-left: 22px;
  margin-right: 22px;
}

.panel-title {
  font-size: 20px;
  text-align: center;
}

.panel-body {
  text-align: center;
}

.fa {
  margin-left: 30px;
}

.note {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  margin-bottom: 12px;
}

.info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.links {
  text-align: center;
}

.surfboard {
  background-image:url('images/surfboard.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 100%;
  width: 390px;
  height: 294px;
}

.me-container {
  background-image:url('images/me.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 172px;
  height: 254px;
  border-radius: 32px;
  border-width: 2px;
  border-color: rgba(12, 30, 240, 0.14);
  border-style: solid;
  box-shadow: 2px 2px 20px #888888;
  margin-left: auto;
  margin-right: auto;
}

.me {
  max-width: 150px;
}

#pic-container {
  margin-top: 60px;
}

.cite {
  color: grey;
  font-size: 12px;
}