.icon {
  max-width: 100px;
  max-height: 100px;
}

.panel-title {
  font-size: 30px;
  text-align: center;
}

.fa {
  margin-left: 30px;
}

.note {
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  margin-bottom: 12px;
}

.info {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.links {
  text-align: center;
}